<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171531026-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-171531026-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compara online</title>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/stylesheets/theme.min.css">
    <!-- Additional CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <h3>Compara Online</h3>
        </a>

        <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="name_field" type="search" placeholder="Busca productos" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Comparar</button>
        </form>
    </nav>

    <div class="container product-container">
        <div class="row">
            <% productos.forEach(product => { %>
            <div class="col-sm-6 col-md-3 col-lx-4 mb-4">
                <div class="card h-100">
                    <div class="card-header" style="background-image: url(<%=product.image%>);">
                    </div>
                    <div class="card-body">
                        <p class="card-text product-title"><%= product.title %></p>
                        <h5 class="card-title"><%= product.description %></h5>
                        <div class="company-logo">
                            <img src="/images/fuente-<%=product.fuente%>.jpg" alt="">
                            <p><%= product.fuente %></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="<%=product.link%>" target="_bank">IR A LA TIENDA</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

</body>

</html>
